@import './base/reset';
@import './utils/variables';
@import './layout/header';
@import './layout/hero';
@import url('https://fonts.googleapis.com/css?family=Jost:regular&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display:regular&display=swap');

@import './components/button';


body{
    font-family: "Jost";
    font-size: 22px;
    color: var(--primary--color);
}


.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.main {
    flex: 1 1 auto;
}

[class*='__container'] {
    max-width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}




