@import './base/reset';
@import './components/title';
@import './components/button';

@import './utils/variables';
@import './layout/header';
@import './layout/hero';
@import './layout/view';
@import './layout/designs';
@import './layout/what';
@import './layout/brand';
@import './layout/projects';
@import './layout/statistics';
@import './layout/blogs';
@import './layout/join';
@import './layout/footer';
@import url('https://fonts.googleapis.com/css?family=Jost:regular&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display:regular&display=swap');





body {
    font-family: "Jost";
    font-size: 22px;
    color: var(--primary--color);
    line-height: 1.5;
    letter-spacing: 0.22px;
}


.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: clip;
}

.main {
    flex: 1 1 auto;
}

[class*='__container'] {
    max-width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}