.brand {

    &__container {
        padding-top: 140px;
        padding-bottom: 55px;
        @media(max-width:991.98px){
            padding-top: 70px;
        }
        @media(max-width:479.98px){
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }

    &__title {
        display: none;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(5, auto);
        column-gap: 20px;
        row-gap: 50px;
        align-items: center;
        justify-items: center;
        // justify-content: space-between; 
        @media(max-width:991.98px){
            grid-template-columns: repeat(3, 1fr);
        }
        @media(max-width:550.98px){
            grid-template-columns: repeat(2, 1fr);
        }
        @media(max-width:550.98px){
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__item {
    }

    &__img {
        max-width: 100%;
    }
}
